/* CSS Styles */
:focus {
  outline: inset 2px dotted #000;
  overflow: visible;
}
* {
	box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: #000;
  line-height: 1.5;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 120%;
}

a {
  display: block;
  color: #000;
  text-decoration: none;
}
a:active, a:visited {
  color: #000;
}
.container {
  width: 80rem;
  max-width: 80%;
  margin: 0 auto;
}
/*********** Accordion Styles ***********/
.acc-link {
  position: relative;
  display: inline-block;
	width: 100%;
	background: #ddd;
  margin: 0;
  padding: .5rem .5rem .5rem 1rem;
}
.acc-link::after {
  content: "\25BC";
  position: absolute;
  top: 30%;
  right: 1rem;
  transform: translate(-50%, -50%);
  transform: rotateZ(90deg);
}
.acc-link h2 {
  margin: 0;
  padding: 0;
  line-height: 2;
}
.acc-heading:hover, .acc-heading:focus {
	background: #0F016D;
}
.acc-link.open {
	background: #aaa;
}
.acc-link.open::after {
  transform: rotate(0deg);
}

.accordion {
	width: 100%;
	padding: .6rem;
	background: linear-gradient(#fff, #ddd);
}